{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
{% block custom_css %}
<style type="text/css" media="all">
    @media print {
        @page {
             {% comment %} size: 5.5in 8.5in; {% endcomment %}
            size: A2 landscape; 
           


}
@page { margin: 1cm } /* All margins set to 2cm */

      @page :first {
         margin-top: 0cm    /* Top margin on first page 10cm */
      }

        #btnPrint {
            display: none !important;
        }
        #pro{
            display: none !important;
        }

        {% comment %} table,
        td #ref {
            margin: 0;
            width: 266px;
        } {% endcomment %}

        

        {% comment %} table #table1 {
            float: left;
            margin-left: 100px;
            margin-top: 0px;

        }

        table td,  #table2 {
            float: right;
            margin-right: 100px;
            margin-top: 0px;

        }

        table #table3 {
            float: left;
            margin-left: 110px;
            margin-top: 0px;


        }
        

        table #table4 {
            float: right;
            margin-right: 100px;
            margin-top: 0px;

        } {% endcomment %}

      
    }
   
  
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .row {
        display: flex;
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        flex: 50%;
        padding: 6px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        /*border: 1px solid #ddd;*/
    }

    th, td, tr {
        text-align: left;
        padding: 16px;
        padding-left: 10px
    }



</style>
{% endblock custom_css %}

                <form method="POST" action={% url 'invoice_create' %}>
                    {%csrf_token%}
                    <div class="row">
                        <div class="column">

                    <table class="table table-bordered border-primary" id="table1">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:center">Date Of Supply</td>
                                                         <td><input type="date" format="%m/%d/%y" name="date_of_supply" id="datesupply" class="form-control" style="height: 22px">
                                                                     
                                                     </td>
                                <td style="text-align:center">تاريخ التوريد</td>
                            </tr>

                            <tr>
                                <td style="text-align:center">Branch</td>
                                  <td><input type="text" name="branch" class="form-control" style="height: 22px">
                                              </td>

                                <td style="text-align:center"> الفرع</td>
                            </tr>
                            <tr>
                                <td style="text-align:center">Salesman Name</td>
                                                   <td><input type="text" name="salesman_name" class="form-control" style="height: 22px"
                                                       ></td>


                                <td style="text-align:center"> اسم البائع</td>
                            </tr>
                        </tbody>
                    </table>
            </div>

                <div class="column">

                <table class="table table-bordered border-primary" id="table2">
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center">Invoice Number</td>
                            <td>{{invoice_form.invoice_number}}</td>
                            {% comment %} <td><input type="number" name="invoice_number" class="form-control"></td> {% endcomment %}

                               

                            <td style="text-align:center"> رقم الفاتوره</td>
                        </tr>
                        <tr>
                            <td style="text-align:center"> Invoice issue Date</td>
                            {% comment %} <td><input type="date" name="invoice_issue_date" class="form-control"></td> {% endcomment %}

                            <td>{{invoice_form.invoice_issue_date}}</td>
                                          

                            <td style="text-align:center"> تاريخ اصدار الفاتوره</td>
                        </tr>
                        <tr>
                            <td style="text-align:center; height: 22px"> Page No</td>
                           
                                                  <td><input type="text" name="page_number" class="form-control"
                                                            
                                                    style="height: 22px" >
                                              </td>

                            <td style="text-align:center; height: 22px"> رقم الصفحه</td>
                        </tr>

                    </tbody>
                </table>

            </div>


        </div>



         

{% comment %} <div class="col-12"> {% endcomment %}


        <div class="row">
            <div class="column">
                <table class="table table-bordered" id="table3">
                                <thead>

                                    <th>Seller</th>
                                    <th></th>
                                    <th style="text-align:right">المورد</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:center">Supplier Name</td>
                                        <td><input type="text" class="form-control"
                                                value="{{ setting_data.supplier_name }}"
                                               style="height: 22px" readonly>
                                        </td>

                                        <td style="text-align:center">الاسم</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">Supplier Site</td>
                                        <td><input type="text" class="form-control"
                                            style="height: 22px" value="{{ setting_data.supplier_site }}"  readonly>
                                        </td>

                                        <td style="text-align:center">الموقع</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">Vat Registration No.</td>
                                        <td><input type="number" class="form-control"
                                            style="height: 22px" value="{{ setting_data.vat_registratoion_number }}"  readonly>
                                        </td>

                                        <td style="text-align:center"> الرقم الضريبي</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">Attention</td>
                                      
                                        <td><input type="text" class="form-control" value="{{ setting_data.attention }}"
                                            style="height: 22px" readonly>
                                              <input type="text"  class="form-control" value="{{setting_data.attention_one}}"
                                              style="height: 22px" readonly>
                                        </td>
                                    

                                        <td style="text-align:center"> بعناية</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">Reference No.</td>
                                        <td><input type="text" id='ref' class="form-control" value="{{setting_data.reference_number}}"
                                            style="height: 22px" readonly>
                                                
                                                <input type="text"  id='ref' class="form-control" value="{{setting_data.reference_number_one}}"
                                                style="height: 22px" readonly>
                                        </td>
                                        
                                        
                                   

                                        <td style="text-align:center"> الرقم المرجعي</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">Telephone No.</td>
                                        <td><input type="text" class="form-control" value="{{ setting_data.telephone_number }}"
                                            style="height: 22px" readonly>
                                        </td>

                                        <td style="text-align:center">رقم الهاتف </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">Branch</td>
                                        <td><input type="text" class="form-control"
                                            style="height: 22px" value="{{ setting_data.branch }}"  readonly>
                                        </td>

                                        <td style="text-align:center">الفرع</td>

                                    </tr>
                                   

                                </tbody>
                            </table>
                        </div>


                        <div class="column">

                            <table class="table table-bordered" id="table4">
                                <thead>

                                    <th>Buyer</th>
                                    <th></th>
                                    <th style="text-align: right">العميل</th>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:center">Requisition No.</td>
                                                            <td><input type="text" name="requistion_number" class="form-control" style="height: 25px"
                                                                       >
                                                          </td>
                                        <td style="text-align:center">رقم الطلب</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">Buyer Name</td>
                                                             <td><input type="text" name="buyer_name" class="form-control" style="height: 25px"
                                     ></td>
                                        <td style="text-align:center">الاسم</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">Ship To</td>
                                                               <td><input type="text" name="ship_to" class="form-control" style="height: 25px"
                                                                          ></td>
                                        <td style="text-align:center">الشحن الي </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">Sub Inventory</td>
                                                                 <td><input type="text"  name="sub_inventroy" class="form-control"  style="height: 25px"
                                                                        ></td>

                                        <td style="text-align:center"> جرد فرعي</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">Bill To</td>
                                                          <td><input type="text" name="bill_to" class="form-control" style="height: 25px"
                                                   ></td>

                                        <td style="text-align:center"> دفع الي</td>
                                    </tr>
                                    
                                </tbody>

                            </table>

                        </div>
                
                <div class="card-body" id='pro'>
                    {% for product in products %}
                    <a id="b" onclick="myFunction(
                            '{{product.id}}' , '{{product.item_name}}', '{{product.note}}', '{{product.uom}}', '{{product.price}}')"
                        class="btn btn-outline-dark">
                        {{ product.item_name }}
                </a>

                    {% endfor %}
                </div>
       
       
               
                    <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {% comment %} <h4 class="panel-title"><strong>Order Summary</strong></h4> {% endcomment %}
                               
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                  
                                                    <td class="text-right"><strong>Description</strong></td>
                                                    <td class="text-right"><strong>Note</strong></td>
                                                    <td class="text-right"><strong>UOM</strong></td>
                                                    <td class="text-right"><strong>Price</strong></td>
                                                    <td class="text-right"><strong>Quantity</strong></td>
                                                    <td class="text-right"><strong>Taxable Amount</strong></td>
                                                    <td class="text-right"><strong>Tax percentage</strong></td>
                                                    <td class="text-right"><strong>Tax Amount</strong></td>
                                                    <td class="text-right"><strong>Sub Total</strong></td>

                                                </tr>
                                            </thead>
                                            <tbody id="summary-table-body">
                                                <tr id="total-tr">
                                                    {% comment %} <td>
                                                        <input type="text" name="description" id="desc" style='width: 120px'>
                                                    </td>

                                                    <td>
                                                        <input type="text" name="note" id="note" style='width: 120px'>
                                                    </td>

                                                    <td>
                                                        <input type="text" name="uom" id="uom" style='width: 120px'>
                                                    </td>

                                                    <td>
                                                        <input type="number" name="price" id="uom" style='width: 120px'>
                                                    </td>

                                                    <td>
                                                        <input type="number" name="quant" id="quant" style='width: 120px'>
                                                    </td>

                                

                                                    <td>
                                                        <input type="number" name="taxable_amount" id="taxable_amount" style='width: 120px'>
                                                    </td>

                                                    <td>
                                                        <input type="number" name="tax" id="tax" style='width: 120px'>
                                                    </td>

                                                    <td>
                                                        <input type="number" name="tax_amount" id="tax_amount" style='width: 120px'>
                                                    </td>
                                                    <td>
                                                        <input type="number" name="sub_total" id="sub_total" style='width: 120px'>
                                                    </td> {% endcomment %}

                                                    {% comment %} <td class="thick-line text-right"><strong>Total:
                                                        </strong></td>
                                                    <td class="thick-line text-right"><strong>C </strong></td>
                                                    <td class="thick-line text-right"><strong>$0 </strong></td>
                                                </tr> {% endcomment %}

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                      
                                        <div class="col-md-12">
                                            <table class="table table-bordered" style="float:right; width:500px">

                
                                                    <tr>

                                                        <td>Total</td>
                                                        <td>
                                                            <input type="number" name="total" id="total">
                                                        </td>



                                                    </tr>
                                        

                                                    <tr>
                                                        <td>Discount</td>

                                                        <td>
                                                            <input type="number" name="discount" id="discount" value="0">
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td>Total Taxable Amount</td>
                                                        <td>
                                                            <input type="number" name="total_taxable_amount_exclude_vat" id="total_amount">
                                                        </td>



                                                    </tr>
                                                    <tr>
                                                        <td>Total VAT</td>

                                                        <td>
                                                            <input type="number" name="total_vat" id="total_vat">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Total Amount Due</td>

                                                        <td>
                                                            <input type="number" name="total_amount_due" id="amount_due">
                                                        </td>
                                                    </tr>
                                               
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              
            
          
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script>
                var i = 1;
                var t = 0;
                var v = 0;
                function myFunction(id, item_name, note, uom, price) {
                    var table = document.getElementById("summary-table-body");
                    var row = table.insertRow(0);
                  
                    var td_name = row.insertCell(0);
                   
                    var td_note = row.insertCell(1);
                    var td_uom = row.insertCell(2);

                    var td_price = row.insertCell(3);

                    var td_quantity = row.insertCell(4);
                    var td_taxable_amount = row.insertCell(5);
                    var td_tax_rate = row.insertCell(6);
                    var td_tax_amount = row.insertCell(7);
                    var td_sub_total = row.insertCell(8);



                    row.setAttribute("id", "foo");
                    var price_id = "price".concat(i);
                    var quantity_id = "quantity".concat(i);
                    var taxable_amount_id = "taxable_amount".concat(i);

                    var tax_rate_id = "tax_rate".concat(i);

                    var tax_amount_id = "tax_amount".concat(i);
                    var sub_total_id = "sub_total".concat(i);


                    td_price.setAttribute("id", price_id);
                    td_quantity.setAttribute("id", quantity_id);

                    td_name.innerHTML = '' + item_name;
                    td_note.innerHTML = '' + note;
                    td_uom.innerHTML = '' + uom;
                    td_price.innerHTML = '' + price;

                    td_quantity.innerHTML = "<input type='number' id='quant" + i + "' style='width:90px;' >";
                    td_taxable_amount.innerHTML = "<input type='number' name='taxable_amount' id='taxable_amount" + i + "' style='width:90px;' >";

                    td_tax_rate.innerHTML = "<input type='number' name='tax' id='tax" + i + "' style='width:90px;' >";

                    td_tax_amount.innerHTML = "<input type='number' name='tax_amount' id='tax_amount" + i + "' style='width:90px;' >";
                    td_sub_total.innerHTML = "<input type='number' name='sub_total' id='sub_total" + i + "' style='width:90px;' >";


                    i++;

                    var rowCount = $("#summary-table-body tr").length;
                    $(document).ready(function () {

                        for (let j = 1; j <= rowCount; j++) {

                            $("#quantity" + j).change(function () {

                                var price = document.getElementById("price" + j).innerHTML;
                                console.log(price);
                                var quantity = $("#quant" + j).val();
                                console.log(quantity);
                                var taxable = price * quantity;
                                console.log(taxable);
                                $("#taxable_amount" + j).val(taxable);

                                $("#tax" + j).change(function () {
                                    var rate = $("#tax" + j).val();

                                    var tax_amount = (taxable * rate) / 100;
                                    $("#tax_amount" + j).val(tax_amount);

                                    var sub_total = (taxable + tax_amount);
                                    console.log(sub_total)
                                    $("#sub_total" + j).val(sub_total);

                                   /* console.log(t);
                                    t += sub_total;
                                    console.log(t);
                                   $("#total").val(t);*/
  

                                   console.log(t);
                                    t += taxable;
                                    console.log(t);
                                   $("#total").val(t);
                                   $("#total_amount").val(t); 
                                    console.log(v);
                                    v += tax_amount;
                                    console.log(v);
                                   $("#total_vat").val(v);
                                  
                                   
                                   
                                   var total_amount_due = t + v;
                                   console.log(total_amount_due);
                                   $("#amount_due").val(total_amount_due);

                               

                                });

                            });
                          
             
                        }
                    });
                        
                    $("#b1").onclick(function(e){
                        e.preventDefault();
                    $.ajax({
                        url : "invoice_create/", // the endpoint
                        method : "POST", // http method
                        data : { 
                            id: $(this).val(),
                            quantity : $('#quant').val(),
                            taxable_amount : $('#taxable_amount').val(),
                            tax_rate: $('#tax').val(),
                            tax_amount: $('#tax_amount').val(),
                            sub_total: $('#sub_total').val(),

                        }, // data sent with the post request
                
                        // handle a successful response
                        success : function(json) {
                            $('#price').val('');
                            $('#quant').val('');
                            $('#taxable_amount').val('');
                            $('#tax').val('');
                            $('#tax_amount').val('');
                            $('#sub_total').val(''); // remove the value from the input
                            console.log(json); // log the returned json to the console
                            console.log("success"); // another sanity check
                            $("#talk").prepend("<li><strong>"+json.price+"</strong> - <em> "+json.quantity+"</em> - <span> "+json.taxable_amount+"</span></li>");
                            console.log("talk"); // another sanity check
                    
                        },
                    });
                });
                   
                        
    

                 
                    /*tr.appendChild(td_id);*/
                    tr.appendChild(td_name);
                   /* tr.appendChild(td_code);*/
                    tr.appendChild(td_price);
                    tr.appendChild(td_quantity);
                    tr.appendChild(td_taxable_amount);
                    tr.appendChild(td_tax_rate);
                    tr.appendChild(td_tax_amount);
                    tr.appendChild(td_sub_total);

               
                }

            </script>

            {% comment %} <img src="{% static 'images/encoded_img2.png' %}" alt="qrcode" style="width:300px"> {% endcomment %}

    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                  <button id="btnPrint" class="hidden-print">
                          Print
            </button>
                  <script>
                                    const $btnPrint = document.querySelector("#btnPrint");

                                     $btnPrint.addEventListener("click", () => {
                          window.print();
                                    });
                        </script>



         {% comment %} <button type="submit" class="btn btn-primary btn-block">
            <i class="fa-solid fa-bookmark"></i>
            Close Bill
        </button>
        &nbsp;

        <a href="{% url 'invoice_pos_list' %}" class="btn btn-primary btn-block float_right"><i
                class="fa-solid fa-list"></i>

            Back to list</a> {% endcomment %}

    </div> 
 </div>
</div> 
</form>
</div>



{% endblock %}