{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="card-header">
        <h2>Seller</h2>
    </div>

    <table class="table table-striped">
        <tbody>
        <tr>
            <td>
                <form action="" method="post" autocomplete="off" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="row">
                        <div class="col-md-6">
                            <div style="text-align:right">الاسم</div>
                            {{form.supplier_name|as_crispy_field}}
                        </div>
                        <div class="col-md-6">
                            <div style="text-align:right"> الموقع</div>
                            {{form.supplier_site|as_crispy_field}}
                        </div>
                        <div class="col-md-6">
                            <div style="text-align:right">الرقم الضريبي
                            </div>
                            {{form.vat_registratoion_number|as_crispy_field}}
                        </div>
                        <div class="col-md-6">
                                                        <div style="text-align:right"> بعناية</div>

                            {{form.attention|as_crispy_field}}
                        </div>
                       
                        <div class="col-md-6">
                            <div style="text-align:right"> بعناية</div>

{{form.attention_one|as_crispy_field}}
</div>
                        <div class="col-md-6">
          <div class="col-md-6">
                                                        <div style="text-align:right">الرقم المرجعي</div>

                            {{form.reference_number|as_crispy_field}}
                        </div>

                        <div class="col-md-6">
                            <div style="text-align:right">الرقم المرجعي</div>

{{form.reference_number_one|as_crispy_field}}
</div>
                        <div class="col-md-6">
                                                        <div style="text-align:right">رقم الهاتف </div>

                            {{form.telephone_number|as_crispy_field}}
                        </div>
                        <div class="col-md-6">
                                                        <div style="text-align:right">الفرع </div>

                            {{form.branch|as_crispy_field}}
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-save"></i>
                                save
                            </button>
                        </div>
                    </div>


                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


{% endblock content %}